.linkbutton {
  border: 1px;
  border-radius: 2;
  padding: 5;
  margin-bottom: '1rem';
  background-color: 'white';
  color: 'black';
  '&:hover': {
    background-color: '#32aab7';
    color: 'white';
  }
}
